# Dependências (Essa pasta é gigante e o npm instala tudo de novo se precisar)
node_modules/

# Pasta de saída do TypeScript (Nosso código traduzido para JS)
dist/

# Arquivos de log do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de configuração do VS Code ou outros editores
.vscode/
.idea/

# Arquivos do sistema operacional
Thumbs.db
.DS_Store